/* *{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
} */

body,
html {
  background-color: rgba(151, 157, 172, 0.3);
}

.app-main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(151, 157, 172, 0.3);
}

a#home.active.nav-link,
a#about.active.nav-link,
a#my_work.active.nav-link,
a#dwnld_resume.active.nav-link {
  background-color: gray;
  padding-left: 10px;
}

#logo {
  color: white;
  text-align: center;
  position: absolute;
  left: 40%;
  top: 40%;
  font-weight: 600;
  font-size: 1.3rem;
  width: 300px;
}
.logo-1 {
  position: absolute;
  left: 40%;
  bottom: -10px;
}
.logo-2 {
  position: absolute;
  top: 38%;
}

.page--title {
  text-align: center;
  font-weight: 700;
  /* margin-top: 50px; */
  /* margin-bottom: 20px; */
}

p {
  font-weight: 500;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 991px) {
  .nav-item {
    margin-top: 2px;
  }
}
