
*{
  box-sizing: border-box;
  /* margin: 0; */
}

.app-main{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.nav-link:focus, .nav-link:active{
  font-weight: 600;
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
  padding: .25rem;
  border-radius: 5%;
}
.nav-item{
  /* filter: drop-shadow(0 0 25px); */
  filter: drop-shadow(0 0 0.75rem blue);
}
.navbar-nav{
  display: flex;
  justify-content: space-between;
  
}

.footer {
  position: absolute;
  bottom:0;
  text-align: center;
  background-color: #212529;
  font-size: small;
  color: whitesmoke;
  
}
#logo{
  color:white;
  text-align: center;
  position: absolute;
  left:40%;
  top:40%;
  font-weight: 600;
  font-size: 1.3rem;
  width: 300px;
}
.logo-1{
  position: absolute;
  left:40%;
  bottom: -10px;
}
.logo-2{
  position: absolute;
  top:38%;
}


/* .navbar > ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  
} */

.page--title{
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 20px;
  
  
}
.container{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  box-shadow: 5px 10px rgba(0,0,0, 0);
  border-radius: 30px;
}

p{
  font-weight: 500;
  font-size: 18px;

}

@media only screen and (max-width: 600px)  {
  .navbar-nav{
    position: absolute;
    left: 0%;
    background-color: rgba(0, 0, 255, 0.3);
    height: 100vh;
  
  }
  .nav-item{
    margin: 0;
    filter: drop-shadow(0 0 0.75rem blue);
  }
  
  
}