
*{
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  color:#023e8a;
 
}

body, html{
  background: linear-gradient(90deg, #fcf6bd, #e4c1f9);
  background-repeat: repeat;
  background-size: 100%;
  color: inherit;
  text-align: center;
  /* height: 100%; */
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #212529;
  font-size: small;
  color: whitesmoke;
  height: 1.5rem;
}
nav{
  background-color: #da95d5  ;
  color: whitesmoke;
}
.navbar > ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  
}

.page--title{
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 20px;
  
  
}
.container{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  box-shadow: 5px 10px rgba(0,0,0, 0);
  border-radius: 30px;
}

p{
  font-weight: 500;
  font-size: 18px;

}