*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* margin-bottom: 20px; */
}
#allProjects{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    overflow: hidden;
}
.project--tile{
    margin-bottom: 15px;
}
.project-container{
    position: relative;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
#survey_form{
    background-image: url('../images/SurveyForm_snippet.png');
    margin-bottom: 15px;
}
#digi_card{
    background-image: url('../images/digi_card.png');
    margin-bottom: 15px;
}
#travel_blog{
    background-image: url('../images/travelBlog_snippet.png');
    margin-bottom: 15px;
}
.project--snippet{
    width:300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -5px 3px 5px rgba(0,0,0, 0.5);
    z-index: 1;    
}
.description{
    position: absolute;
    text-align: center;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 10px;
    background-color: hsla(34, 78%, 91%, 0.9);

}
.description > p{
    margin: 0 auto;
    margin-top: 20%;
    font-weight: 600;
    text-indent: 2px;
}
.project-container:hover .description{
    z-index: 2;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;

}
.buttons> button{
    z-index: 2;
    position: relative;
    top: 250px;
    width: 100px;
    background-color: hsla(0, 0%, 50%, 0.9);
    font-weight: 700;
}
.buttons> button:active{
    background-color: cornflowerblue;
}
.buttons> button:hover{
    transform: scale(1.1);
}
/*#projects{
    margin-top: 0;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    margin-bottom: 20px;
}
#projects > *{
    width:100%;
    height: 250px;
    /* border: 3px solid black; 
    margin: 8% 10%;
}

@media only screen and (max-width: 600px) {
    #projects{
      display: block;
      /* margin-left: 10%;
      margin-right: auto;
      overflow:hidden; 
    }
  }

#survey_form{
    background-image: url('../images/SurveyForm_snippet.png');  
}
#digi_card{
    background-image: url('../images/digi_card.png');

}
#travel_blog{
    background-image: url('../images/travelBlog_snippet.png');
}
#survey_form, #digi_card, #travel_blog{
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 5px;
    position: absolute;
    box-shadow: -5px 3px 5px rgba(0,0,0, 0.5);

    
}
.project--tile .btn{
    width: 30%;
    color: white;
    opacity: 2;
    margin: 0 auto; 
    background: #e5989b ;
    position: relative;
    top: 210px;
    right: 16%;
    z-index: 1;
    font-weight: 600;
}

.project--tile .btn:hover{
    transform: scale(1.2);
}
.description{
    width: 250px;
    height: 250px;
    background-color: hsla(0, 0%, 100%, 0.9);
    position: absolute;
    border-radius: 10px;
    z-index: -1;
}

.project-container:hover .description{
    z-index: 1;
} */

