.skills {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* position: absolute;
  bottom: 4rem; */
}

h2 {
  font-size: 30px;
  font-family: inherit;
  font-weight: 600;
}
.skillset span {
  font-size: 2rem;
  filter: drop-shadow(10px 5px 4px #9a8c98);
}
.skillset {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .skills {
    transform: scale(0.7);
    margin: 1rem;
    padding: 1rem;
  }
}
